TEO_HOST=0.0.0.0
TEO_PORT=3000
TEO_SESSION_HOURS=12
TEO_CORS_ORIGINS=
TEO_TRUST_PROXY=false
TEO_HTTPS_ONLY=false

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=teo
DB_USER=teo_app
DB_PASSWORD=BitteSicheresPasswortEintragen
DB_CONNECTION_LIMIT=5
DB_SSL=false
